# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# MacOS files
.DS_Store

# SASS cache
.sass-cache/

# Compiled CSS
css/*.css

# npm package lock file
package-lock.json

# IDE/editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Project directories
dist/
build/
_kaynaklar/